* {
    padding: 0;
    margin: 0;
}

.container {
    width: 500px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.4);
    margin: 50px auto;
    padding: 20px;
}

.box {
    display: flex;
    padding: 15px;
    border-top: 1px solid #999;
}

img {
    width: 40px;
    height: 40px;
    padding: 15px;
}