* {
    padding: 0;
    margin: 0;
}

.box-1,
.box-2,
.box-3,
.box-4 {
    margin-bottom: 20px;
}

.heading {
    margin-bottom: 20px;
}

.form {
    width: 500px;
    height: 600px;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.5);
    padding: 30px;
    margin: auto;
}

.list-1 {
    list-style: none;
    display: flex;
    gap: 20px
}

.list-1 li {
    position: relative;
}

.list-1 li::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 20px;
    background-color: #888;
    top: 0;
    right: -10px;
}

.list-1,
.list-2,
.list-3,
.list-4 {
    margin-bottom: 18px;
}